@import "mdc-web.css";

body {
    font-family: helvetica, sans-serif;
    font-size: 14px; 
    margin: 0px;
    /* overflow: hidden;  */
}

#div-1{
    position: absolute;
    z-index: 1;
}

/* Ensure the size of the image fit the container perfectly */
img {
    display: block;
    width: 100vw;
    height: 100vh;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

