:root {
    --mdc-theme-primary: #9c27b0;
    --mdc-theme-secondary: #ffab40;
    --mdc-theme-background: #fff;
}

.app-fab--open {
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
}

.app-fab--save {
    position: fixed;
    bottom: 6rem;
    right: 1rem;
}

@media (min-width: 1024px) {
    .app-fab--open {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .app-fab--save {
        bottom: 6rem;
        right: 1.5rem;
    }
}